<!--
    @author: Sage Markwardt
    @date: 5/8/2024
    @description:
-->

<include href="views/header.html"></include>

<body>
<!--  Navbar  -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" type="text/html" href="{{ @BASE }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="text/html" href="contact">Contact Us
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="text/html" href="faq">FAQ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="text/html" href="form">Leads Form
                </a>
            </li>
        </ul>
        <a class="ms-auto me-3 nav-link" type="text/html" href="login">Login</a>
    </div>
</nav>

<div>
    <!--This will hold the errors from the page-->
    <div class="form-container p-5">
        <h4 class="text-center mt-3 form-header">Page Error</h4>
        <br>
        <p class = "text-center">Something about your link to this page was faulty.
            The following error message has information about the problem:
            <br> {{ @SESSION.resetError }}</p>
    </div>
</div>

<!--  Scripts  -->
<!--  Bootstrap CDN  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="scripts/script.js"></script>
</body>
</html>