<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/styles.css?v=81">
    <title>UPS Business Leads</title>
</head>
<body>
<div>
    <h1>Thank you for submitting a business lead, {{ @SESSION.lead->getDriverName()}}({{ @SESSION.lead->getDriverID()}}) </h1>
    <h4>Your center manager has been notified!</h4>

    <table class="approval_request ">
        <tr>
            <td>
                Business name: {{ @SESSION.lead->getBusinessName()}}
            </td>
        </tr>
        <tr>
            <td>
                Business Phone: {{ @SESSION.lead->getBusinessPhone()}}
            </td>
        </tr>
        <tr>
            <td>
                Contact first name: {{ @SESSION.lead->getContactName()}}
            </td>
        </tr>
        <tr>
            <td>
                Contact last name: {{ @SESSION.lead->getContactLastName()}}
            </td>
        </tr>
        <tr>
            <td>
                Contact email: {{ @SESSION.lead->getContactEmail()}}
            </td>
        </tr>
        <tr>
            <td>
                SLIC: {{ @SESSION.lead->getSlic()}}
            </td>
        </tr>
    </table>
</div>

</body>
</html>