<!--
    @author: Garrett Ballreich, Sage Markwardt, Tien Han
    @date: 6/12/2024
    @description: This page will display a summary of the
    business lead entered into the form.
-->

<include href="views/header.html"></include>

<body>
    <check if="{{ isset(@SESSION.user) }}">
        <!--If a person is logged in-->
        <true>
            <!--If a person is an admin-->
            <check if="{{ get_Class(@SESSION.user) == 'Admin' }}">
                <true>
                    <!--  Navbar  -->
                    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
                        <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" type="text/html" href="dashboard">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" type="text/html" href="approval">Pending Approvals</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" type="text/html" href="contact">Contact Us
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" type="text/html" href="faq">FAQ
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" type="text/html" href="form">Leads Form
                                    </a>
                                </li>
                            </ul>
                            <a class="ms-auto me-3 nav-link" type="text/html" href="{{ @BASE }}">Logout</a>
                        </div>
                    </nav>
                </true>
                <!--If a person is NOT an admin-->
                <false>
                    <!--  Navbar  -->
                    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
                        <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" type="text/html" href="dashboard">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" type="text/html" href="contact">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" type="text/html" href="faq">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" type="text/html" href="form">Leads Form</a>
                                </li>
                            </ul>
                            <a class="ms-auto me-3 nav-link" type="text/html" href="{{ @BASE }}">Logout</a>
                        </div>
                    </nav>
                </false>
            </check>
        </true>

        <!--If a person is NOT logged in-->
        <false>
            <!--  Navbar  -->
            <nav class="navbar navbar-expand-lg navbar-light sticky-top">
                <button class="navbar-toggler ms-auto me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" type="text/html" href="{{ @BASE }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" type="text/html" href="contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" type="text/html" href="faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" type="text/html" href="form">Leads Form</a>
                        </li>
                    </ul>
                    <a class="ms-auto me-3 nav-link" type="text/html" href="login">Login</a>
                </div>
            </nav>
        </false>
    </check>

    <div>
        <form class="form-container p-5">
            <h4 class="text-center mt-3 form-header">Submission Successful!</h4>
            <p class="my-4 px-lg-2">Thank you for submitting a business lead,
                {{ @SESSION.lead->getDriverName()}} ({{ @SESSION.lead->getDriverID()}}).
            </p>
            <p class="my-4 px-lg-2">Your center manager has been notified. The information you entered is below.</p>

            <table class = "border-0">
                <tr>
                    <td>
                        <p class="form-label mt-3"><b>Business name: </b>{{ @SESSION.lead->getBusinessName()}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="form-label mt-3"><b>Business phone: </b>{{ @SESSION.lead->getBusinessPhone()}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="form-label mt-3"><b>Contact first name: </b>{{ @SESSION.lead->getContactName()}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="form-label mt-3"><b>Contact last name: </b>{{ @SESSION.lead->getContactLastName()}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="form-label mt-3"><b>Contact email: </b>{{ @SESSION.lead->getContactEmail()}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="form-label mt-3"><b>SLIC: </b>{{ @SESSION.lead->getSlic()}}</p>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <!--  Scripts  -->
    <!--  Bootstrap CDN  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>
</html>