<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>FORM SUMMARY PAGE!</h1>
<p> {{ @SESSION.businessName}}</p>
<p> {{ @SESSION.contactName}}</p>
<p> {{ @SESSION.contactLastName}}</p>
<p> {{ @SESSION.businessPhone}}</p>
<p> {{ @SESSION.contactEmail}}</p>
<p> {{ @SESSION.driverName}}</p>
</body>
</html>