<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Thank you for submitting a business lead, {{ @SESSION.driverName}}({{ @SESSION.driverID}}) </h1>
    <h4>Your center manager has been notified</h4>

    <table>
        <tr>
            <td>
                Business name: {{ @SESSION.lead->getBusinessName()}}
            </td>
        </tr>
        <tr>
            <td>
                Contact first name: {{ @SESSION.contactName}}
            </td>
        </tr>
        <tr>
            <td>
                Contact last name: {{ @SESSION.contactLastName}}
            </td>
        </tr>
        <tr>
            <td>
                Contact email: {{ @SESSION.contactEmail}}
            </td>
        </tr>
        <tr>
            <td>
                SLIC: {{ @SESSION.slic}}
            </td>
        </tr>
    </table>
</div>

</body>
</html>