/*
 * Custom styles for the Business leads application
 * @author Garrett Ballreich, Sage Markwardt, Tien Han
 * @date 5/8/2024
 * @version 1.0
 */

/* ------------------------------Style Dependencies------------------------------ */


/* --------------------------------Global Styles--------------------------------- */
/*Used in Contact Form*/
button {
    margin-left: 45%;
    margin-bottom: 2%;
}

/*Used in Contact Form*/
input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 55px;
}

/*Used in Contact Form*/
label {
    margin-left: 55px;
}

/*Used in Main Form*/
select {
    margin-left: 7%;
}

/*Used in Contact Form*/
textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 55px;
}

/* ------------------------------Navbar Styling------------------------------ */
.navbar {
    background-color: #f2f1ef;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #ffc400;
    text-decoration-thickness: 5px;
    text-underline-offset: .5em;
}

/*----------------------------Form Styles---------------------------------*/
.form-container {
    border: solid grey 2px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.form-header {
    text-decoration: underline;
    text-underline-offset: .5em;
    text-decoration-color: #ffc400;
    text-decoration-thickness: 5px;
}

/*----------------------STYLES FOR MAIN FORM---------------------------*/
.mainForm {
    width: 50%;
    margin-left: 25%;
}

/*----------------- Styles for FAQ page / accordion menu ----------------*/
.accordion-button {
    box-sizing: border-box;
    text-align: center;
}

#FAQ h2 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: .5em;
    text-decoration-color: #ffc400;
    text-decoration-thickness: 5px;
}

.accordion-button {
    margin: 2.5rem;
    /* creates a shadow around the button box */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.accordion-button:hover {
    /* emphasizes the shadow when hovered over */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}