/*
 * Custom styles for the Business leads application
 * @author Garrett Ballreich, Sage Markwardt, Tien Han
 * @date 5/7/2024
 * @version 1.0
 */

/* ------------------------------Style Dependencies------------------------------ */


/* ------------------------------Global Styles------------------------------ */



/* ------------------------------Site-wide Used Styles------------------------------ */



/* ------------------------------Navbar Styling------------------------------ */
.navbar {
    background-color: #f2f1ef;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #ffc400;
    text-decoration-thickness: 5px;
}
/*----------------STYLES FOR CONTACT FORM---------------------------*/
.contactForm{
    border: solid grey 2px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}
input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 55px;
}
textarea{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 55px;
}
label{
    margin-left: 55px;
}
button{
   margin-left: 45%;
   margin-bottom: 2%;
}
h4{
    margin-left: 40%;
    margin-top: 5%;
}
/*----------------STYLES FOR MAIN FORM---------------------------*/
.mainForm{
    width: 50%;
    margin-left: 25%;
}
select{
    margin-left: 7%;
}