/*
 * Custom styles for the Business leads application
 * @author Garrett Ballreich, Sage Markwardt, Tien Han
 * @date 5/7/2024
 * @version 1.0
 */

/* ------------------------------Style Dependencies------------------------------ */


/* ------------------------------Global Styles------------------------------ */



/* ------------------------------Site-wide Used Styles------------------------------ */



/* ------------------------------Navbar Styling------------------------------ */
.navbar {
    background-color: #f2f1ef;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #ffc400;
    text-decoration-thickness: 5px;
}